# No modificar. Excepto si sabes lo que hace.

[Unit]
Description=FenixManager fenixproxy
After=network.target

[Service]
Type=forking
User=root
TimeoutSec=8
ExecStart=/etc/FenixManager/funciones/py-proxy/main_service.py
ExecReload=/usr/bin/python3 /etc/FenixManager/funciones/py-proxy/main_service.py "reload"


[Install]
WantedBy=multi-user.target
